bert_siamese_authorship_verification/data/raw/*
bert_siamese_authorship_verification/logs/*
bert_siamese_authorship_verification/models/saved_trained_models/*
bert_siamese_authorship_verification/wandb

# IntelliJ IDEA
.idea/
*.iml