scikit-learn~=1.6.1
numpy<2
matplotlib
nltk~=3.9.1
wandb==0.19.9

# Install tensorflow-gpu on Local only.
tensorflow-gpu==2.10.0 ; sys_platform == "win32"
tensorflow-addons==0.22.0 ; sys_platform == "win32"
keras==2.10.0 ; sys_platform == "win32"
transformers==4.36.0 ; sys_platform == "win32"

# Install tensorflow and keras on Colab only.
tensorflow==2.19.0 ; sys_platform == "linux"
keras==3.9.2 ; sys_platform == "linux"
tf-keras==2.19.0 ; sys_platform == "linux"
transformers==4.51.3 ; sys_platform == "linux"
